@page
@model IndexModel
@{
  ViewData["Title"] = "Notes Web App Example.";
}

<div class="text-center">
  <h1 class="display-4">Notes</h1>

</div>

<div class="d-flex justify-content-center">
  <div class="spinner-border"
       role="status" id="loading">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="card cardShow " style="height:200px;display:none"id="CardAddNote">
  <div class="card-body" data-toggle="modal" >
    <div id='TextAdd'>
      <h2 style="text-align:center">New</h2>
      <div style="text-align:center">
        <i id="iconAdd" class="fa fa-sticky-note"></i>
      </div>
    </div>
    <form id='FormAddNote'>
      <textarea id='textarea'></textarea>
    </form>
  </div>
</div>
<div id="notes"></div>

